*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(120deg,#031b88, #6096fd, #aab6fb);
    padding: 10px;
}

.todoapp{
    width: 100%;
    max-width: 540px;
    background: #00172d;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todoapp h2{
    color: white;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    background: #edeef0;
    margin-top: 10px;
}

input{
    padding: 10px;
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 14px;

}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;


}


ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: white;
    margin-top: 5px;
    
}
ul li::before{
content: '';
position: absolute;
height: 28px;
width: 28px;
border-radius: 50px;
background-image: url(unchecked.png);
background-size: cover;
background-position: center ;
top: 12px;
left: 8px;
color: black;
}

ul li.checked{
    color: #ff5945;
    text-decoration: line-through;

}

ul li.checked::before{
    background-image: url(checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: black;
    line-height: 40px;
    text-align: center;
border-radius: 75%;

}

ul li span{
    background: #edeef0;
}
